{% extends "layouts/base.html" %}
{% block title %} Thông tin {% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}
<main>
  <section class="mt-5 bg-soft d-flex align-items-center">
    <div class="container">
      <p class="text-center">
      </p>
      <div class="row justify-content-center form-bg-image"
        data-background-lg="/static/assets/img/illustrations/signin.svg">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mt-md-0">
              <h1 class="mb-0 h3">
                Thông tin
              </h1>

              <p>
                {% if msg %}
                {{ msg | safe }}
                {% else %}
                {% endif %}
              </p>
            </div>

            <form action="{% url 'infor' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Họ</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <span class="fas fa-user-circle"></span>
                  </span>
                  {{form.ho}}
                </div>
              </div>

              <div class="form-group">
                <label>Tên</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <span class="fas fa-user-circle"></span>
                  </span>
                  {{ form.ten }}
                </div>
              </div>
              <div class="form-group">
                <label>Ngày sinh</label>
                <div class="input-group">
                  <input data-datepicker="" class="form-control" id="birthday" type="text" placeholder="dd/mm/yyyy" value= '{{ form.ngaysinh }}' >
                </div>
              </div>
              <div class="form-group">
                <label>Giới tính</label>
                <div class="input-group">
                  {{ form.gioitinh }}
                </div>
              </div>

              <!-- Form -->
              <div class="form-group">
                <label for="email">Tài khoản email</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <span class="fas fa-envelope"></span>
                  </span>
                  {{ form.email }}
                </div>
                <span class="text-error">{{ form.email.errors }}</span>
              </div>
              <div class="form-group">
                <label>Số điện thoại</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <span class="fas fa-user-circle"></span>
                  </span>
                  {{ form.sdt }}
                </div>
              </div>


              <div class="d-grid mt-4">
                <button type="submit" name="login" class="btn btn-gray-800">Lưu</button>
              </div>

              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</div>
{% endblock content %}
<a id="edit-button" onclick="editInfo()" class="edit-button">Sửa</a>

{% block javascripts %}
<script>
  $(document).ready(function(){
    $("#ngaysinh").datepicker();
  });
</script>
{% endblock javascripts %}