{% extends "layouts/base.html" %}
{% block title %} Quản lý bài đăng {% endblock %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<h3 class="mt-6"> Danh sách bài đăng</h3>
<label>Trạng thái</label>
<select name="status" id="status" onchange="filterUsers()">
    <option value="all">Tất cả</option>
    <option value="pending">Chưa duyệt</option>
    <option value="approved">Đã duyệt</option>
</select>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Tiêu đề</th>
            <th>Loại</th>
            <th>Diện tích</th>
            <th>Giá</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>

    <tbody>
        {% for bd in baidang_list %}
        <tr>
            <td><a href="{% url 'xem_chitiet' bd.id_baidang %}" class="fw-bold">
                {{ forloop.counter }}</a></td>
            <td><a href="{% url 'xem_chitiet' bd.id_baidang %}" class="fw-bold">
                {{bd.tieude}}</a></td>
            <td>{{ bd.loai }}</td>
            <td>{{ bd.dientich}}</td>
            <td>{{ bd.giaban }}</td>
            <td>
                {% if bd.trangthai == 0 %}
                Chưa duyệt
                {% elif bd.trangthai == 1 %}
                Đã duyệt
                {% endif %}
            </td>
            <td>
                <div class="btn-group ps-4">
                    <a class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>
                    <div class="dropdown-menu py-0">
                        <form action="{% url 'quanly-baidang' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ bd.id_baidang }}">
                            <button class="dropdown-item rounded-top" name="button" value="status">
                                Duyệt</button>
                        </form>
                        <form action="{% url 'quanly-baidang' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ bd.id_baidang }}">
                            <button class="dropdown-item" name="button" value="delete">Xóa bài đăng</button>
                        </form>
                    </div>
                </div>
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock content %}
{% block javascripts %}
<script>

    function filterUsers() {
        var status = document.getElementById("status").value;
        window.location.href = "/quanly/baidang/?status=" + status;
    }
</script>
{% endblock javascripts %}